section.sec-happynewyear(id='secHappyNewYear')
  .sec-happynewyear__bg.sec-happynewyear__bg--sp
    img(src='/assets/image/happynewyear/bg_happynewyear_sp.svg' alt='')
  .sec-happynewyear__bg.sec-happynewyear__bg--pc
    img(src='/assets/image/happynewyear/bg_happynewyear.svg' alt='')
  .sec-happynewyear__heading
    .sec-happynewyear__title สวัสดีปีใหม่ 2564
    .sec-happynewyear__text ขอให้ทุกคนจงมีเเต่ความสุข สดใส สุขภาพเเข็งเเรง สมหวังในทุกสิ่ง เเละมั่งคั่ง มั่งมี ตลอดไป
    .sec-happynewyear__sns
    .sec-happynewyear__text ติดต่อเรา
    .sec-happynewyear__sns
      ul.happynewyear-sns
        li.happynewyear-sns__item
          a.happynewyear-sns__link(href='https://www.facebook.com/krungthaibank/' target='_blank' title='https://www.facebook.com/krungthaibank/')
            img(src='/assets/image/sns/icon_facebook.svg' alt='https://www.facebook.com/krungthaibank/')
        li.happynewyear-sns__item
          a.happynewyear-sns__link(href='https://krungthai.com/' target='_blank' title='https://krungthai.com/')
            img(src='/assets/image/sns/icon_web.svg' alt='https://krungthai.com/')
        li.happynewyear-sns__item
          button.happynewyear-sns__link.btn-copy-clipboard( title='https://krungthaihny2021.com/' data-clipboard-target="#inputClipboard2")
            img(src='/assets/image/sns/icon_clipboard.svg' alt='https://krungthaihny2021.com/')
            span.btn-copy-clipboard__tooltip Copied
  input.input-copy-clipboard(type='text' id='inputClipboard' value='https://krungthaihny2021.com/')
  input.input-copy-clipboard(type='text' id='inputClipboard2' value='https://krungthaihny2021.com/')