.hero(id='hero')
  .hero__light.hero__light--left
    img(src='/assets/image/hero/img_light_left.svg' alt='')
  .hero__light.hero__light--right
    img(src='/assets/image/hero/img_light_right.svg' alt='')
  h1.hero__logo
    a.hero__logo-link(href='/')
      img(src='/assets/image/hero/logo_KTB.svg ' alt='Krungthai กรุงไทย')
  .hero__heading
    .hero-heading
      .hero-heading__image.hero-heading__image--pc
        img(src='/assets/image/hero/hdg_merry_christmas.svg' alt='Merry Christmas Happy New Year สวัสดีปีใหม่ ปี 2564 คร้าบในปีใหม่นี้ น้องวายุขอให้พี่ๆทุกคน โชคดี แฮปปี้ ตลอดปีและตลอดไปเลยนะครับ')
      .hero-heading__image.hero-heading__image--sp
        img(src='/assets/image/hero/hdg_merry_christmas_sp.svg' alt='Merry Christmas Happy New Year สวัสดีปีใหม่ ปี 2564 คร้าบในปีใหม่นี้ น้องวายุขอให้พี่ๆทุกคน โชคดี แฮปปี้ ตลอดปีและตลอดไปเลยนะครับ')
  .hero__arrow(id='btnDown')
    .hero-arrow
      .hero-arrow__text เลื่อน เพื่อเช็คดวงชะตา
      img.hero-arrow__icon(src='/assets/image/hero/icon_arrow.svg')
