section.sec-marble(id='secMarble')
  .sec-marble__bg.sec-marble__bg--sp
    img(src='/assets/image/marble/bg_marble_sp.svg' alt='')
  .sec-marble__bg.sec-marble__bg--pc
    img(src='/assets/image/marble/bg_marble.svg' alt='')
  .sec-marble__balloon.sec-marble__balloon--sp
    img(src='/assets/image/marble/img_balloon_sp.svg' alt='')
  .sec-marble__balloon.sec-marble__balloon--pc
    img(src='/assets/image/marble/img_balloon.svg' alt='')
  .sec-marble__heading
    .sec-marble__title คลิกเพื่อดูดวงจากลูกแก้ว
    .sec-marble__text การงาน การเงิน ความรักในปีวัวทองจะเป็นยังไงนะ ลูกแก้วมหัศจรรย์ ช่วยบอกที เพี้ยง !
  .sec-marble__marble
    .marble
      .marble__image(id='marble')
        img.marble__img.marble__img--pc(src='/assets/image/marble/img_wiggle.gif' alt='รับคำทำนายจากลูกแก้วมหัศจรรย์ กดเลย!' title='รับคำทำนายจากลูกแก้วมหัศจรรย์ กดเลย!')
        img.marble__img.marble__img--sp(src='/assets/image/marble/img_wiggle_sp.gif' alt='รับคำทำนายจากลูกแก้วมหัศจรรย์ กดเลย!' title='รับคำทำนายจากลูกแก้วมหัศจรรย์ กดเลย!')
        .marble__tap
          img(src='/assets/image/marble/icon_tap.svg' alt='')
      .marble__text รับคำทำนายจากลูกแก้วมหัศจรรย์ กดเลย!
