.modal(id='modalQrcode')
  .modal__close(id='buttonCloseModalQrcode')
    img(src='/assets/image/modal/icon_close.svg' alt='x')
  .modal__content
    .modal__qrcode
      img(src='/assets/image/modal/img_qrcode_1.png' alt='' id='imgQrCode')
    .modal__detail
      .modal__detail-howto
        .qrcode-howto.qrcode-howto--sp
          ol.qrcode-howto__list
            li.qrcode-howto__item 1. กด Capture หน้าจอ
            li.qrcode-howto__item 2. เข้าแอปพลิเคชันโมบายแบงค์กิ้ง
            li.qrcode-howto__item 3. กดที่ สแกน QR Code
            li.qrcode-howto__item 4. เลือกเพิ่มรูปภาพจากเครื่อง
        .qrcode-howto.qrcode-howto--pc
          .qrcode-howto__title ขั้นตอนการสแกน
          ol.qrcode-howto__list
            li.qrcode-howto__item 1. เข้าแอปพลิเคชันโมบายแบงค์กิ้ง
            li.qrcode-howto__item 2. กดที่ สแกน QR Code
      .modal__detail-other
        .box-btn-other
          .box-btn-other__title เสริมดวงด้านอื่นๆ คลิกเลย

          .box-btn-other__list
            .box-btn-other__item
              a.btn-luck-other(href='#' id='buttonLove')
                i.btn-luck-other__icon
                  img(src='/assets/image/modal/icon_love.svg' alt='')
                span.btn-luck-other__text ความรัก ความสัมพันธ์
            .box-btn-other__item
              a.btn-luck-other(href='#' id='buttonBag')
                i.btn-luck-other__icon
                  img(src='/assets/image/modal/icon_bag.svg' alt='')
                span.btn-luck-other__text การงาน การเงิน
            .box-btn-other__item
              a.btn-luck-other(href='#' id='buttonHealth')
                i.btn-luck-other__icon
                  img(src='/assets/image/modal/icon_health.svg' alt='')
                span.btn-luck-other__text สุขภาพ
      .modal__detail-complete
        a.btn-complete(href='#' id='buttonComplete') เรียบร้อย สาธุจ้า!

