section.sec-predict(id='secPredict')
  .sec-predict__bg.sec-predict__bg--sp
    img(src='/assets/image/predict/bg_predict_sp.svg' alt='')
  .sec-predict__bg.sec-predict__bg--pc
    img(src='/assets/image/predict/bg_predict.svg' alt='')
  .predict-box
    .predict-box__bg.predict-box__bg--sp
      img(src='/assets/image/predict/bg_frame_predict_sp.svg' alt='')
    .predict-box__bg.predict-box__bg--pc
      img(src='/assets/image/predict/bg_frame_predict.svg' alt='')
    .predict-box__content
      .predict-list(id='predictBox')
        .predict-list__item
          .predict-list__title
          .predict-list__text
      .predict-quote
        span.predict-quote__text ปีนี้น้องวายุขอเชิญชวนพี่ๆ
        span.predict-quote__img
          img(src='/assets/image/predict/txt_termboon.png' alt='เติมบุญ')
        span.predict-quote__text เพื่อเสริมดวงให้เป็นปีที่ราบรื่นและรุ่งโรจน์กันนะครับ
      .predict-button
        a.predict-button__button(href='#' id='buttonOpenModalQrcode')
          i.predict-button__button-icon
            img(src='/assets/image/sns/icon_qrcode.svg' alt='')
          .predict-button__button-text(id='btnTextQR') เติมบุญด้านการงาน คลิกเลย
      ul.predict-sns
        li.predict-sns__item
          a.predict-sns__link(href='#' id='btnLineShare' target='_blank')
            img(src='/assets/image/sns/icon_line.svg' alt='' title='Share')
        li.predict-sns__item
          a.predict-sns__link(href='#' id='bthFacebookShare')
            img(src='/assets/image/sns/icon_facebook.svg' alt='')
        li.predict-sns__item
          a.predict-sns__link(href='#' id='bthTwitterShare')
            img(src='/assets/image/sns/icon_twitter.svg?v=2' alt='')
        li.predict-sns__item
          button.predict-sns__link.btn-copy-clipboard( title='https://krungthaihny2021.com/' data-clipboard-target="#inputClipboard")
            img(src='/assets/image/sns/icon_clipboard.svg' alt='https://krungthaihny2021.com/')
            span.btn-copy-clipboard__tooltip Copied
          //- a.predict-sns__link.btn-copy-clipboard(href='#' title='https://krungthaihny2021.com/' data-clipboard-target="#inputClipboard")
          //-   img(src='/assets/image/sns/icon_clipboard.svg' alt='https://krungthaihny2021.com/')
          //-   span.btn-copy-clipboard__tooltip Copied