/* footer-link-mainpage
--------------------------------------------- */
.footer-link-mainpage {
  display: inline-flex;
  color: $color-white;
  font-weight: bold;
  transition: opacity .2s;

  @include mq-down(md) {
    display: flex;
    height: 55px;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  @include mq-up(md) {
    &:hover {
      opacity: .7;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    margin-left: 5px;
  }
}

/* footer-contact
--------------------------------------------- */
.footer-contact {
  display: flex;
  align-items: center;
  line-height: 1;

  @include mq-down(md) {
    display: flex;
    width: 100%;
  }

  &__item {
    @include mq-down(md) {
      width: 50%;
      border-top: 1px solid $color-white;

      &:last-child {
        border-left: 1px solid $color-white;
      }
    }

    @include mq-up(md) {
      &:not(:first-child) {
        margin-left: 25px;
      }
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    color: $color-white;
    font-weight: bold;
    transition: opacity .2s;

    @include mq-down(md) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 70px;
    }

    @include mq-up(md) {
      &:hover {
        opacity: .7;
      }
    }
  }

  &__icon {
    width: 24px;
    height: 24px;

    @include mq-up(md) {
      margin-right: 5px;
    }
  }

  &__text {
    @include mq-down(md) {
      margin-top: 10px;
    }
  }
}

/* footer-tel
--------------------------------------------- */
.footer-tel {
  display: inline-flex;
  align-items: center;

  &__icon {
    width: 50px;
  }

  &__text {
    margin-left: 10px;
  }

  &__title {
    font-size: 1.6rem;
    font-weight: bold;
    color: $color-text-2;

    @include mq-up(376) {
      font-size: 1.8rem;
    }

    @include mq-up(md) {
      font-size: 2rem;
    }
  }

  &__number {
    font-size: 2.4rem;
    font-weight: bold;
    color: $color-text-2;
    line-height: 1;

    @include mq-up(376) {
      font-size: 2.8rem;
    }

    @include mq-up(md) {
      font-size: 3.2rem;
    }
  }
}

/* footer-sns
--------------------------------------------- */
.footer-sns {
  &__title {
    font-size: 1.6rem;
    font-weight: bold;
    color: $color-text-2;

    @include mq-up(376) {
      font-size: 1.8rem;
    }

    @include mq-down(md) {
      text-align: right;
    }

    @include mq-up(md) {
      font-size: 2rem;
    }
  }

  &__list {
    display: flex;
    margin-top: 5px;
  }

  &__item {
    &:not(:first-child) {
      margin-left: 6px;

      @include mq-down(md) {
        margin-left: 8px;
      }
    }
  }

  &__img {
    &--ovr {
      display: none;
    }
  }

  &__link {
    display: block;
    width: 28px;
    height: 28px;

    @include mq-up(md) {
      width: 32px;
      height: 32px;

      &:hover {
        .footer-sns__img--default {
          display: none;
        }

        .footer-sns__img--ovr {
          display: block;
        }
      }
    }
  }
}

/* btn-backtotop
--------------------------------------------- */
.btn-backtotop {
  position: fixed;
  bottom: 40px;
  right: 40px;
  border: .5px solid #ddd;
  padding: 10px 15px;
  border-radius: 50%;
  transition: all .5s;
  background: rgba(255, 255, 255, .9);
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, .2);
  width: 48px;
  height: 48px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  z-index: -1;

  &.is-show {
    opacity: 1;
    visibility: visible;
    z-index: 99;
  }

  &__arrow {
    position: relative;
    transform: rotate(-135deg);
    border: solid #00A4E4;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 6px;
    bottom: -8px;
    left: 1px;
  }
}

/* footer
--------------------------------------------- */
.footer {
  position: relative;
  z-index: 1;
  padding-bottom: 15px;
  background-color: $color-white;

  &__top {
    background-color: #00a7e7;

    @include mq-up(md) {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding: 12px 40px;
    }
  }

  &__link-mainpage {
    @include mq-up(md) {
      position: relative;
      top: 2px;
      align-self: center;
    }
  }

  &__contact {
    @include mq-up(md) {
      position: relative;
      top: 2px;
    }
  }

  &__bottom {
    display: flex;
    padding: 15px;

    @include mq-up(md) {
      padding: 15px 40px;
      justify-content: space-between;
    }
  }

  &__tel {
    width: 50%;

    @include mq-up(md) {
      width: 45%;
    }
  }

  &__sns {
    width: 50%;

    @include mq-down(md) {
      display: flex;
      justify-content: flex-end;
    }

    @include mq-up(md) {
      width: 55%;
      padding-left: 30px;
      border-left: 1px solid #E3E3E3;
    }
  }
}