/* happynewyear-sns
--------------------------------------------- */
.happynewyear-sns {
  display: flex;
  justify-content: center;

  &__item {
    &:not(:first-child) {
      margin-left: 20px;

      @include mq-up(md) {
        margin-left: 15px;
      }

      @include mq-up(1200) {
        margin-left: 30px;
      }
    }
  }

  &__link {
    display: block;
    width: 36px;
    height: 36px;
    transition: opacity .2s;

    @include mq-up(md) {
      &:hover {
        opacity: .7;
      }
    }

    @include mq-up(1200) {
      width: 50px;
      height: 50px;
    }

    img {
      width: 100%;
    }
  }
}

/* sec-happynewyear
--------------------------------------------- */
.sec-happynewyear {
  position: relative;
  z-index: 2;
  margin-top: -29.333vw;

  @include mq-up(md) {
    margin-top: -41.146vw;
  }

  &__bg {
    position: relative;
    z-index: 1;

    &--sp {
      @include mq-up(md) {
        display: none;
      }
    }

    &--pc {
      @include mq-down(md) {
        display: none;
      }
    }

    img {
      width: 100%;
    }
  }

  &__heading {
    position: absolute;
    top: 32vw;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
    width: 100%;
    padding: 20px;
    color: $color-white;
    text-align: center;

    @include mq-up(md) {
      top: 11.979vw;
    }
  }

  &__title {
    font-size: 11.467vw;

    @include mq-up(md) {
      font-size: 4.167vw;
    }
  }

  &__text {
    font-size: 4.267vw;

    @include mq-up(md) {
      font-size: 1.563vw;
    }
  }

  &__sns {
    margin-top: 4vw;

    @include mq-up(md) {
      margin-top: 1.563vw;
    }
  }
}