/* hero-heading
--------------------------------------------- */
.hero-heading {
  position: relative;
  z-index: 1;

  &__image {
    text-align: center;

    img {
      width: 310px;

      @include mq-up(md) {
        width: 22vw;
      }
    }
  }

  &__text {
    width: 100%;
    margin-top: 15px;
    color: $color-text-1;
    text-align: center;

    @include mq-down(md) {
      padding: 0 18.667vw;
    }

    @include mq-up(md) {
      width: 41.042vw;
    }
  }
}

/* hero-arrow
--------------------------------------------- */
.hero-arrow {
  text-align: center;
  cursor: pointer;

  &__text {
    font-size: 1.6rem;
    color: $color-text-1;
  }

  &__icon {
    width: 6.400vw;
    margin-top: 5px;
    font-size: 2.6rem;
    color: $color-text-2;

    @include mq-up(md) {
      width: 1.250vw;
    }
  }
}

/* hero
--------------------------------------------- */
.hero {
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-image: url('/assets/image/hero/bg_hero_sp.svg');
  background-position: center bottom;
  background-size: auto 100%;
  background-repeat: no-repeat;

  @include mq-up(md) {
    background-image: url('/assets/image/hero/bg_hero.jpg');
    background-size: cover;
  }

  &__light {
    position: absolute;
    top: 0;

    &--left {
      @include mq-down(md) {
        left: -110px;
        width: 250px;
      }

      @include mq-up(md) {
        left: -1.458vw;
        width: 28.646vw;
      }
    }

    &--right {
      @include mq-down(md) {
        right: -95px;
        width: 232px;
      }

      @include mq-up(md) {
        right: -1.458vw;
        width: 27.865vw;
      }
    }
  }

  &__logo {
    position: absolute;

    @include mq-down(md) {
      top: 30px;
      left: 50%;
      transform: translateX(-50%);
    }

    @include mq-up(md) {
      top: 25px;
      left: 1.823vw;
    }

    &-link {
      display: block;
      width: 29.333vw;
      height: auto;

      @include mq-up(md) {
        width: 11.615vw;
      }
    }

    img {
      width: 100%;
    }
  }

  &__heading {
    position: absolute;
    top: 21.333vw;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;

    @include mq-up(md) {
      width: auto;
      top: 2.604vw;
    }
  }

  &__arrow {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
}