/* marble
--------------------------------------------- */
.marble {
  position: relative;
  text-align: center;

  &__image {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 90.333vw;

    &.is-shake {
      animation: shake .5s;
      animation-iteration-count: infinite;
    }

    @include mq-up(md) {
      width: 39.688vw;
    }
  }

  &__img {
    width: 100%;

    &--pc {
      @include mq-down(md) {
        display: none;
      }
    }

    &--sp {
      @include mq-up(md) {
        display: none;
      }
    }
  }

  &__tap {
    position: absolute;
    top: 61%;
    left: 50%;
    z-index: 2;
    width: 20.800vw;

    @include mq-up(md) {
      top: 64%;
      width: 6.563vw;
    }
  }

  &__text {
    color: $color-white;
    font-size: 4.467vw;

    @include mq-up(md) {
      font-size: 1.146vw;
    }
  }
}

@keyframes shake {
  0% { transform: translate(10px, 10px) rotate(0deg); }
  10% { transform: translate(-10px, -11px) rotate(-1deg); }
  20% { transform: translate(-12px, 0px) rotate(1deg); }
  30% { transform: translate(12px, 11px) rotate(0deg); }
  40% { transform: translate(10px, -10px) rotate(1deg); }
  50% { transform: translate(-10px, 11px) rotate(-1deg); }
  60% { transform: translate(-12px, 10px) rotate(0deg); }
  70% { transform: translate(12px, 10px) rotate(-1deg); }
  80% { transform: translate(-10px, -10px) rotate(1deg); }
  90% { transform: translate(10px, 11px) rotate(0deg); }
  100% { transform: translate(10px, -11px) rotate(-1deg); }
}

/* sec-marble
--------------------------------------------- */
.sec-marble {
  position: relative;
  z-index: 2;
  margin-top: -1px;

  &__bg {
    position: relative;

    &--sp {
      @include mq-up(md) {
        display: none;
      }
    }

    &--pc {
      @include mq-down(md) {
        display: none;
      }
    }

    img {
      width: 100%;
    }
  }

  &__heading {
    position: absolute;
    top: 13.333vw;
    left: 0;
    z-index: 2;
    width: 100%;
    padding: 0 17.333vw 0;
    text-align: center;

    @include mq-up(md) {
      top: 3.646vw;
    }
  }

  &__title {
    font-size: 5.067vw;
    color: $color-text-1;

    @include mq-up(md) {
      font-size: 1.667vw;
    }
  }

  &__text {
    margin-top: 2.667vw;
    font-size: 3.733vw;
    color: $color-text-2;

    @include mq-up(md) {
      margin-top: .781vw;
      font-size: 1.146vw;
    }
  }

  &__marble {
    position: absolute;
    left: 50%;
    bottom: 24vw;
    transform: translateX(-50%);
    z-index: 2;

    @include mq-up(md) {
      bottom: 8.333vw;
    }
  }

  &__balloon {
    position: absolute;
    top: -16vw;
    left: 0;
    z-index: 1;
    width: 100%;
    pointer-events: none;

    @include mq-up(md) {
      top: -8.854vw;
    }

    &--sp {
      @include mq-up(md) {
        display: none;
      }
    }

    &--pc {
      @include mq-down(md) {
        display: none;
      }
    }

    img {
      width: 100%;
    }
  }
}